version: '3.8'

x-base: &base
  image: ghcr.io/cauefaleiros/chatwoot:latest
  volumes:
    - storage_data:/app/storage
  environment:
    - RAILS_ENV=${RAILS_ENV}
    - NODE_ENV=production
    - SECRET_KEY_BASE=${SECRET_KEY_BASE}
    - FRONTEND_URL=${FRONTEND_URL}
    - POSTGRES_HOST=${POSTGRES_HOST}
    - POSTGRES_PORT=${POSTGRES_PORT}
    - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    - POSTGRES_USERNAME=${POSTGRES_USERNAME}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - REDIS_URL=${REDIS_URL}
    - REDIS_PASSWORD=${REDIS_PASSWORD}
    - MAILER_SENDER_EMAIL=${MAILER_SENDER_EMAIL}
    - SMTP_ADDRESS=${SMTP_ADDRESS}
    - SMTP_PORT=${SMTP_PORT}
    - SMTP_USERNAME=${SMTP_USERNAME}
    - SMTP_PASSWORD=${SMTP_PASSWORD}
    - SMTP_AUTHENTICATION=${SMTP_AUTHENTICATION}
    - SMTP_ENABLE_STARTTLS_AUTO=${SMTP_ENABLE_STARTTLS_AUTO}
    - ACTIVE_STORAGE_SERVICE=${ACTIVE_STORAGE_SERVICE}
    - FORCE_SSL=${FORCE_SSL}
    - RAILS_LOG_TO_STDOUT=true
    - RAILS_SERVE_STATIC_FILES=true

services:
  rails:
    <<: *base
    depends_on:
      - postgres
      - redis
    ports:
      - '3010:3000'
    entrypoint: docker/entrypoints/rails.sh
    command:
      [
        'sh',
        '-c',
        'bundle exec rails db:chatwoot_prepare && bundle exec rails s -p 3000 -b 0.0.0.0',
      ]

    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --no-verbose --tries=1 --spider http://localhost:3000/hc || exit 1',
        ]
      interval: 15s
      timeout: 5s
      retries: 6
      start_period: 20s

    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
      rollback_config:
        order: stop-first
      restart_policy:
        condition: on-failure
      labels:
        - 'com.docker.swarm.image.pull=always'

  sidekiq:
    <<: *base
    image: ghcr.io/cauefaleiros/chatwoot:latest
    depends_on:
      - postgres
      - redis
    command: ['bundle', 'exec', 'sidekiq', '-C', 'config/sidekiq.yml']

    healthcheck:
      test: ['CMD-SHELL', 'pgrep -f sidekiq || exit 1']
      interval: 15s
      timeout: 5s
      retries: 6
      start_period: 20s

    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
      rollback_config:
        order: stop-first
      restart_policy:
        condition: on-failure
      labels:
        - 'com.docker.swarm.image.pull=always'

  postgres:
    image: pgvector/pgvector:pg16
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    deploy:
      restart_policy:
        condition: on-failure

  redis:
    image: redis:alpine
    command: ['sh', '-c', 'redis-server --requirepass "$REDIS_PASSWORD"']
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  storage_data:
  postgres_data:
  redis_data:

networks:
  default:
    driver: overlay
