// scss-lint:disable PropertySortOrder
@layer base {
  // NEXT COLORS START
  :root {
    // slate
    --slate-1: 252 252 253;
    --slate-2: 249 249 251;
    --slate-3: 240 240 243;
    --slate-4: 232 232 236;
    --slate-5: 224 225 230;
    --slate-6: 217 217 224;
    --slate-7: 205 206 214;
    --slate-8: 185 187 198;
    --slate-9: 139 141 152;
    --slate-10: 128 131 141;
    --slate-11: 96 100 108;
    --slate-12: 28 32 36;

    // iris
    --iris-1: 253 253 255;
    --iris-2: 248 248 255;
    --iris-3: 240 241 254;
    --iris-4: 230 231 255;
    --iris-5: 218 220 255;
    --iris-6: 203 205 255;
    --iris-7: 184 186 248;
    --iris-8: 155 158 240;
    --iris-9: 91 91 214;
    --iris-10: 81 81 205;
    --iris-11: 87 83 198;
    --iris-12: 39 41 98;

    // blue
    --blue-1: 251 253 255;
    --blue-2: 245 249 255;
    --blue-3: 233 243 255;
    --blue-4: 218 236 255;
    --blue-5: 201 226 255;
    --blue-6: 181 213 255;
    --blue-7: 155 195 252;
    --blue-8: 117 171 247;
    --blue-9: 39 129 246;
    --blue-10: 16 115 233;
    --blue-11: 8 109 224;
    --blue-12: 11 50 101;

    // ruby
    --ruby-1: 255 252 253;
    --ruby-2: 255 247 248;
    --ruby-3: 254 234 237;
    --ruby-4: 255 220 225;
    --ruby-5: 255 206 214;
    --ruby-6: 248 191 200;
    --ruby-7: 239 172 184;
    --ruby-8: 229 146 163;
    --ruby-9: 229 70 102;
    --ruby-10: 220 59 93;
    --ruby-11: 202 36 77;
    --ruby-12: 100 23 43;

    // amber
    --amber-1: 254 253 251;
    --amber-2: 254 251 233;
    --amber-3: 255 247 194;
    --amber-4: 255 238 156;
    --amber-5: 251 229 119;
    --amber-6: 243 214 115;
    --amber-7: 233 193 98;
    --amber-8: 226 163 54;
    --amber-9: 255 197 61;
    --amber-10: 255 186 24;
    --amber-11: 171 100 0;
    --amber-12: 79 52 34;

    // teal
    --teal-1: 250 254 253;
    --teal-2: 243 251 249;
    --teal-3: 224 248 243;
    --teal-4: 204 243 234;
    --teal-5: 184 234 224;
    --teal-6: 161 222 210;
    --teal-7: 131 205 193;
    --teal-8: 83 185 171;
    --teal-9: 18 165 148;
    --teal-10: 13 155 138;
    --teal-11: 0 133 115;
    --teal-12: 13 61 56;

    // gray
    --gray-1: 252 252 252;
    --gray-2: 249 249 249;
    --gray-3: 240 240 240;
    --gray-4: 232 232 232;
    --gray-5: 224 224 224;
    --gray-6: 217 217 217;
    --gray-7: 206 206 206;
    --gray-8: 187 187 187;
    --gray-9: 141 141 141;
    --gray-10: 131 131 131;
    --gray-11: 100 100 100;
    --gray-12: 32 32 32;

    // violet
    --violet-1: 253 252 254;
    --violet-2: 250 248 255;
    --violet-3: 244 240 254;
    --violet-4: 235 228 255;
    --violet-5: 225 217 255;
    --violet-6: 212 202 254;
    --violet-7: 194 178 248;
    --violet-8: 169 153 236;
    --violet-9: 110 86 207;
    --violet-10: 100 84 196;
    --violet-11: 101 85 183;
    --violet-12: 47 38 95;

    // custom vars
    --background-color: 247 249 252; /* removendo branco puro */
    --text-blue: 8 109 224;

    /* removendo linhas no light */
    --border-container: 236 236 236 / 0;
    --border-strong: 235 235 235 / 0;
    --border-weak: 234 234 234 / 0;

    --solid-1: 255 255 255;
    --solid-2: 255 255 255;
    --solid-3: 255 255 255;
    --solid-active: 255 255 255;

    --solid-amber: 252 232 193;
    --solid-blue: 218 236 255;
    --solid-iris: 230 231 255;

    --alpha-1: 67, 67, 67, 0.06;
    --alpha-2: 201, 202, 207, 0.15;
    --alpha-3: 255, 255, 255, 0.96;
    --black-alpha-1: 0, 0, 0, 0.12;
    --black-alpha-2: 0, 0, 0, 0.04;
    --border-blue: 39, 129, 246, 0.5;
    --white-alpha: 255, 255, 255, 0.8;
  }

  .dark {
    --background-color: 32 33 37; /* grafite leve */

    /* tirando linhas no dark */
    --border-container: 52 52 52 / 0;
    --border-strong: 52 52 52 / 0;
    --border-weak: 38 38 42 / 0;

    /* corrigindo branco que ficava no conteúdo */
    --solid-1: 29 30 36;
    --solid-2: 36 36 42;
    --solid-3: 44 45 54;
    --solid-active: 53 57 66;

    --text-blue: 126 182 255;

    /* demais tokens não mexi */
  }
}
// NEXT COLORS END
